<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Checkboard</title>
</head>
<body>
    <h1>Welcome to Checkboard!</h1>
    <div class = 'checkboard'>
        {% for num in range(numbers) %}
        <div id = 'first_player'></div>
        <div id = 'second_player'></div>
        {% endfor %}
    </div>
</body>
</html>